*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
}



#wrapper{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 5%;
    display: flex;
    align-items: center;
    
}
nav{
    
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color:#fff ;
    font-size: 17px;
    
} 

.content h1{
    font-size: 120px;
    color: #fff;
    font-weight: 400;

}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px ;

}

.back-video{
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.explore{
    position: relative;

}

.explore a{
    position: absolute;
    margin-left: 50%;
}